[Desktop Entry]
Value=1.0
Encoding=UTF-8
Exec=qimsys
Name=QIMSYS
GenericName=Input Method for Japanese
Icon=qimsys
Terminal=false
Type=Application
Categories=Qt;Utility;
X-KDE-StartupNotify=false
X-KDE-autostart-after=panel
